html {
    height: 100vh;
}

body {
    background-color: $color-white;
    color: $color-black;
    font-family: $family-body;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    letter-spacing: .03em;
    overflow: hidden;
}